
*.dta
*.dta
*.xml
*.pdf
*.csv
*.xlsx
*.html
*.aux
*.dta
*.dta
*.dta
*.log
*.lnk
1_do_files/tempCodeRunnerFile.do
tmp/.Rhistory
*.nav
*.out
*.snm
*.gz
*.toc
*.PNG
.Rproj.user
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
*.zip
*.dta
*.dta
3_report_data/w5_coverPP_new.dta
3_report_data/ess5_pp_hhlevel_parcel_new.dta
3_report_data/w5_sect2_pp_parcel_new.dta
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
tmp/temp_R/rsconnect/documents/dynamics_presentation.Rmd/rpubs.com/rpubs/Document.dcf
tmp/temp_R/.Rhistory
supplemental/*
*.tex
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
5_analysis/adoption_rates_ESS/rsconnect/shinyapps.io/lemitaye/adoption_rates_ESS.dcf
5_analysis/dynamics_presentation/rsconnect/documents/dynamics_presentation.Rmd/shinyapps.io/lemitaye/dynamics_presentation.dcf
5_analysis/test.Rmd
