
*.dta
*.dta
*.xml
*.pdf
*.csv
*.xlsx
*.html
*.aux
*.dta
*.dta
*.dta
*.log
*.lnk
1_do_files/tempCodeRunnerFile.do
tmp/.Rhistory
*.nav
*.out
*.snm
*.gz
*.toc
*.PNG
.Rproj.user
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
