
*.dta
*.dta
*.xml
*.pdf
*.csv
*.xlsx
*.html
*.aux
*.dta
*.dta
*.dta
*.log
*.lnk
1_do_files/tempCodeRunnerFile.do
tmp/.Rhistory
*.nav
*.out
*.snm
*.gz
*.toc
*.PNG
.Rproj.user
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
*.zip
*.dta
*.dta
3_report_data/w5_coverPP_new.dta
3_report_data/ess5_pp_hhlevel_parcel_new.dta
3_report_data/w5_sect2_pp_parcel_new.dta
tmp/temp_R/.Rhistory
tmp/temp_R/.Rhistory
